
<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<div class="panel panel-info" >
		<div class="panel-heading">
			<div class="panel-title">Public GitHub repository viewer</div>
		</div>
		<div style="padding-top:30px" class="panel-body" >
			<div style="display:none" id="login-alert" class="alert alert-danger col-sm-12" data-ng-cloak>{{message}}</div>
			<form id="loginform" class="form-horizontal" role="form" ng-submit="send()">
				<div style="margin-bottom: 25px" class="input-group"> <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input id="username" type="text" class="form-control" name="username" value="" placeholder="GitHub username or organisation" data-ng-model="username">
				</div>
				<div style="margin-top:10px" class="form-group"> 
					<!-- Button -->
					
					<div class="col-sm-12 controls">
						<input type="submit" id="submit" value="Submit" class="btn btn-success" />
					</div>
				</div>
				<div class="input-group">
					<div id="message" class="alert-warning" data-ng-bind="message" data-ng-cloak> {{message}} </div>
				</div>
			</form>
		</div>
	</div>
</div>
